ul,li,p{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
img{
    float: left;
    width: 50px;
    height: 50px;
   margin-right: 5px;
}
.icon-1{
    background-image: url("http://p1.music.126.net/X1Fy8qf-lW5ibafWWdMqgQ==/18638921115940517.jpg?param=140y140");
}
.icon-2{
    background-image: url("http://p1.music.126.net/nBa1JtD-p71DjCcs8rq_zw==/19146895486173414.jpg?param=140y140");
}
.icon-3{
    background-image: url("http://p1.music.126.net/uRWX_DCjgs8p6jnFnLWB8A==/18795051767071946.jpg?param=140y140");
}
.item{
    border-bottom: 1px solid #000;
    padding: 5px;
    /*清除浮动-1*/
    overflow: hidden;
}
/*清除浮动-2*/
/*.item::after{*/
/*content: '';*/
/*display: table;*/
/*clear: both;*/
/*}*/
